@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
}

textarea {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

.invisible {
  margin-top: 0;
  margin-bottom: 0;
  display: none;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #ececec;
}

.header-page {
  display: flex;
  align-items: center;
  height: 80px;
}
.header-page .header-page__logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.header-page .header-page__logo--first {
  color: #2196f3;
}
.header-page .secondpart-logo {
  color: #212121;
}
.header-page .header-page__logo--second {
  margin-top: 0;
  color: #fff;
}

/*site-nav*/
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .site-nav__item {
  margin-right: 50px;
}
.site-nav .site-nav__item:last-child {
  margin-right: 0;
}
.site-nav .site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .site-nav__link {
  position: relative;
}
.site-nav .site-nav__link--current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  border-radius: 2px;
  background-color: #2196f3;
  opacity: 1;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}
.site-nav .site-nav__link--current {
  color: #2196f3;
}

/*site-adress*/
.site-adress {
  display: flex;
  margin-left: auto;
}
.site-adress .site-adress__item {
  margin-right: 50px;
}
.site-adress .site-adress__item:last-child {
  margin-right: 0;
}
.site-adress .site-adress__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-adress__link:hover, .site-adress__link:focus {
  color: #2196f3;
}

/*Оформление иконок в хедере*/
.site-adress__icon {
  fill: #757575;
  margin-right: 10px;
}

.site-adress__link:hover .site-adress__icon,
.site-adress__link:focus .site-adress__icon {
  fill: #2196f3;
}

/*Hero*/
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2F303A;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.hero__title {
  margin: 0 auto 30px;
  width: 696px;
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__pointer {
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  border: 1px transparent;
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
}

.hero__pointer:hover,
.hero__pointer:focus {
  cursor: pointer;
  background-color: #2196f3;
  color: #fff;
}

.hero__button-text {
  color: #fff;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: fixed;
  padding: 40px;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;
}

.modal .modal__button {
  position: fixed;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.modal .modal__svg {
  display: block;
  position: absolute;
  margin: auto;
  top: 2px;
  bottom: 0;
  right: 1px;
  left: 1px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .modal__svg:hover {
  cursor: pointer;
  fill: #2196f3;
}

/*-----Форма в модальном окне*/
.form__data {
  position: relative;
}

.modal__heading {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: flex-start;
}

.form__name {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__field {
  position: relative;
  width: 450px;
  height: 40px;
  padding: 11px;
  padding-left: 47px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:focus {
  border: 1px solid #2196f3;
  cursor: pointer;
}

.form__field:focus ~ .form__icon {
  fill: #2196f3;
  cursor: pointer;
}

.form__field-area {
  resize: none;
  padding-top: 12px;
  padding-left: 16px;
  width: 450px;
  height: 95px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field-area:focus {
  border: 1px solid #2196f3;
  cursor: pointer;
}

.form__icon {
  position: absolute;
  transform: translateX(200%);
  left: -9px;
  bottom: 20%;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__total {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__checkbox {
  margin-bottom: 30px;
  margin-top: 10px;
}

.form__checkbox-field {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.form__fake {
  display: inline-flex;
  width: 16px;
  height: 15px;
  background-color: transparent;
  border: 2px solid #212121;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #fff;
  cursor: pointer;
}

.form__fake > .lol {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox-field:checked + .form__fake {
  background-color: #2196f3;
  border: 1px transparent;
}

.form__checkbox-field:checked + .form__fake > .form__fake-icon {
  opacity: 1;
}

.form__fake-icon {
  fill: #fff;
}

.form__text-agreements {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.form__text-terms {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.form__button {
  border-radius: 4px;
  max-width: 200px;
  width: 200px;
  padding: 10px 28px;
  border: 1px transparent;
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #fff;
}

/*преймущества компании*/
.benefits {
  display: flex;
}

.benefits .benefits__item {
  width: 270px;
}

.benefits .benefits__item:not(:last-child) {
  margin-right: 30px;
}

.benefits .benefits__item::before {
  display: block;
  height: 120px;
  content: "";
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}

.benefits .benefits__title {
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.benefits .benefits__paragraph {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
}

.benefits__item--attention::before {
  background-image: url(../images/antenna.svg);
}

.benefits__item--punctuality::before {
  background-image: url(../images/clock.svg);
}

.benefits__item--plan::before {
  background-image: url(../images/diagram.svg);
}

.benefits__item--technology::before {
  background-image: url(../images/astronaut.svg);
}

/*оформление feature*/
.activ {
  padding-bottom: 94px;
  padding-top: 0;
}

.title-work {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.activity {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: -30px;
}

.activity .activity__item {
  width: calc((100% - 90px) / 3);
  margin-left: 30px;
}

.activity .activity:not(:last-child) {
  margin-bottom: 0;
}

.activity .activity__picture {
  position: relative;
  z-index: -1;
}

.activity .activity__center {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.activity .activity__text {
  margin-top: 27px;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

/*оформление team*/
.team-staff {
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.title-team {
  margin-bottom: 50px;
  margin-top: 0;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.staff {
  display: flex;
  flex-wrap: wrap;
}

.person {
  width: 270px;
  height: auto;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.person:nth-child(4n) {
  margin-right: 0;
}

.person:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.human {
  padding-top: 30px;
  background-color: #fff;
}

.title-name {
  margin-bottom: 0;
  margin-top: 0;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.job-title {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/*Оформление соц сетей*/
.sociality {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.sociality__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sociality__icon {
  fill: #afb1b8;
}

.sociality__link:hover,
.sociality__link:focus {
  background-color: #2196f3;
}

.sociality__link:hover .sociality__icon,
.sociality__link:focus .sociality__icon {
  fill: #fff;
}

.sociality__network:not(:last-child) {
  margin-right: 10px;
}

/*оформление секции клиентов*/
.title-client {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms timinng, fill 250ms timinng;
}
.clients__link:hover {
  border: 1px solid #2196f3;
  fill: #2196f3;
}
.clients__images:not(:last-child) {
  margin-right: 30px;
}

/*footer*/
footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container.footer {
  display: flex;
}

.enjoy {
  margin-left: 70px;
}

.footer__logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-bottom: 20px;
  margin-top: 0;
}
.footer__logo-first {
  color: #2196f3;
}
.footer__logo-second {
  color: #fff;
}

.address {
  font-style: normal;
}

.contacts__map {
  margin-bottom: 9px;
}
.contacts__link {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  color: #fff;
}
.contacts__post {
  margin-bottom: 9px;
}
.contacts__mail {
  margin-top: 9px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.contacts__telefon {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer a:hover,
.footer a:focus {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.enjoy__title {
  margin-top: 12px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
}

/*Оформление соц сетей footer*/
.footer__enjoy__icon:not(:last-child) {
  margin-right: 10px;
}

.footer__enjoy__icon {
  height: 44px;
}

.footer__enjoy__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__enjoy__link:hover,
.footer__enjoy__link:focus {
  background-color: #2196f3;
  fill: #fff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__enjoy_svg {
  fill: #fff;
}

/*Кнопка Формы Подписки футер */
.subscribe {
  margin-left: auto;
}
.subscribe__form {
  display: flex;
  justify-content: center;
}
.subscribe__input {
  background: transparent;
  padding: 15px 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__button {
  border-radius: 4px;
  max-width: 200px;
  width: 200px;
  padding: 10px 28px;
  border: 1px transparent;
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}
.subscribe__button__element {
  display: flex;
}
.subscribe__button__icon {
  fill: #fff;
  margin-left: 10px;
}

/*portfolio*/
/*оформление кнопок портфолио*/
.portfolio-button {
  padding-top: 0;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-item__filter {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item__filter:hover,
.portfolio-item__filter:focus {
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
}

.portfolio {
  overflow: hidden;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio:nth-child(3n) {
  margin-right: 0;
}
.portfolio:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio:hover .overlay {
  transform: translateY(-100%);
  opacity: 1;
  transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Оформление выезжающего окна */
.thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 294px;
  padding: 63px 24px;
  opacity: 0;
  background: #2196f3;
  transform: translateY(0%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.paragrah {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;
}

.portfolio .title {
  color: #212121;
}

.characteristic {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  background-color: #fff;
}

.title-list {
  margin-bottom: 0;
  margin-top: 0;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.different {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.14;
}

.tyu {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=main.css.map */