/*цвет основного текста #757575*/
/*вторичный цвет текста   #212121**/
/*цвет заголовка  #ffffff*/
/* акцент #2196F3*/
/* первая часть лого №2196F3*/
/* текст футера адрес rgba (0, 0, 0, 0.6) */
/* вторичный цвет фона #2F303A */
/* вторичный цвет фона #F5F4FA */
/*цвет фона в секции hero #2F303A*/
/*цвет бордер в хедере #ECECEC*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
}
textarea {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #fff;
  --primary-button-color: #f5f4fa;
  --primary-footer-color: #2f303a;
  --adress-color: rgba(255, 255, 255, 0.6);
  --border-color-header: #ececec;
  --border--color-portfolio: #eeeeee;
  --border--color--clients: #afb1b8;
  --icon-color: #afb1b8;
  --timing: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.container {
  box-sizing: border-box;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*оформление header*/
.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--border-color-header);
}
.header-page {
  display: flex;
  align-items: center;
  height: 80px;
}
.header-page__logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.header-page__logo--first {
  color: var(--accent-color);
}
.secondpart-logo {
  color: var(--title-text-color);
}
.header-page__logo--second {
  margin-top: 0;
  color: var(--primary-bg-color);
}
/*site-nav*/
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav__item {
  margin-right: 50px;
}
.site-nav__item:last-child {
  margin-right: 0;
}
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition:  250ms var(--timing);
}
.site-nav__link {
  position: relative;
}
.site-nav__link--current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 1;    
}
.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color); 
}
.site-nav__link--current {
  color: var(--accent-color);
}
/*site-adress*/
.site-adress {
  display: flex;
  margin-left: auto;  
}
.site-adress__item {
  margin-right: 50px;
}
.site-adress__item:last-child {
  margin-right: 0;
}
.site-adress__link {
   display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: 250ms var(--timing-function);
}
.site-adress__link:hover,
.site-adress__link:focus {
  color: var(--accent-color);
}
/*Оформление иконок в хедере*/
.site-adress__icon {
fill: var(--primery-text-color);
margin-right: 10px;
}
.site-adress__link:hover .site-adress__icon,
.site-adress__link:focus .site-adress__icon {
fill:var(--accent-color);
}
/*Hero*/
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background--hero);
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
   url(../images/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.hero__title {
  margin: 0 auto 30px;
  width: 696px;
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__pointer {
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  border: 1px transparent;
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
}
.hero__pointer:hover,
.hero__pointer:focus {
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}
.hero__button-text {
  color: var(--primary-bg-color);
}
/*Модальное окно*/
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;  
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal {
  position: fixed;
  padding: 40px;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%),
   0px 1px 1px rgb(0 0 0 / 14%),
   0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  background-color: var(--primary-bg-color);
}
.modal__button {
    position: fixed;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--primary-bg-color);   
}
.modal__svg {
    display: block;
    position: absolute;
    margin: auto;
    top: 2px;
    bottom: 0;
    right: 1px;
    left: 1px;   
    transition: 250ms var(--timing); 
}
.modal__svg:hover {
  cursor: pointer;
  fill: #2196f3;
}
/*-----Форма в модальном окне*/
.form__data{
  position: relative;
}
.modal__heading {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
} 
.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: flex-start; 
}
.form__name {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);
}
.form__field {
  position: relative;
  width: 450px;
  height: 40px;
  padding: 11px;
  padding-left: 47px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  transition: border 250ms var(--timing);
}
.form__field:focus {
  border: 1px solid var(--accent-color);
  cursor: pointer;
}
.form__field:focus~.form__icon {
fill: var(--accent-color);
cursor: pointer;
}
.form__field-area {
  resize: none;
  padding-top: 12px;
  padding-left: 16px;
  width: 450px;
  height: 95px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  transition: border 250ms var(--timing);
}  
.form__field-area:focus {
  border: 1px solid var(--accent-color);
  cursor: pointer;
}
.form__icon {
  position: absolute;
  transform: translateX(200%);
  left: -9px;
  bottom: 20%;   
  fill: var(--title-text-color); 
  transition: fill 250ms var(--timing); 
}
.form__total {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__checkbox {
  margin-bottom: 30px;
  margin-top: 10px;
}
.form__checkbox-field {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.form__fake {
  display: inline-flex;
  width: 16px;
  height: 15px;
  background-color: transparent;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--timing);
  fill: var(--primary-bg-color);
  cursor: pointer;
}
.form__fake > .lol {
  opacity: 0;
  transition: opacity 250ms var(--timing);
}
.form__checkbox-field:checked + .form__fake {
  background-color: #2196f3;
  border: 1px transparent; 
}
.form__checkbox-field:checked + .form__fake > .form__fake-icon {
  opacity: 1;
}
.form__fake-icon {
  fill: var(--primary-bg-color);
}
.form__text-agreements {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
.form__text-terms {
     font-size: 14px;
    line-height: 1.71;
    letter-spacing: .03em;
    text-decoration-line: underline;
    color: var(--accent-color);
}
/*оформление section*/
.invisible {
  margin-top: 0;
  margin-bottom: 0;
  display: none;
}
/*преймущества компании*/
.benefits {
  display: flex;  
}
.benefits__item {
  width: 270px;
}
.benefits__item:not(:last-child) {
    margin-right: 30px;
}
.benefits__item::before {
  display: block;
  height: 120px;
  content: "";
  background-color: var(--primary-button-color);
  background-repeat: no-repeat;
  background-position: center;
}
.benefits__item--attention::before {
  background-image: url(../images/antenna.svg);
}
.benefits__item--punctuality::before {
  background-image: url(../images/clock.svg);
}
.benefits__item--plan::before {
  background-image: url(../images/diagram.svg);
}
.benefits__item--technology::before {
  background-image: url(../images/astronaut.svg);
}
.benefits__title {
  color: var(--title-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}
.benefits__paragraph {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
}
/*оформление feature*/
.activ {
  padding-bottom: 94px;
  padding-top: 0;
}

.activity .title-work {
  color: var(--title-text-color);
}
.title-work {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.activity {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: -30px;
}
.activity__item {
  width: calc((100% - 90px) / 3);
  margin-left: 30px;
}
.activity:not(:last-child) {
  margin-bottom: 0;
}
.activity__picture {
  position: relative;
  z-index: -1;
}
.activity__center {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.activity__text {
  margin-top: 27px;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
}
/*оформление team*/
.team-staff {
  padding-bottom: 94px;
  background-color: var(--primary-button-color);
}
.title-team {
  margin-bottom: 50px;
  margin-top: 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.staff {
  display: flex;
  flex-wrap: wrap;
}
.person {
  width: 270px;
  height: auto;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px; 
}
.person:nth-child(4n) {
  margin-right: 0;
}
.person:nth-last-child(-n + 4) {
  margin-bottom: 0;
}
.human {
  padding-top: 30px;
  background-color: var(--primary-bg-color);
}
.title-name {
  margin-bottom: 0;
  margin-top: 0;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.job-title {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.sociality {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px; 
}
/*Оформление соц сетей*/
.sociality__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition:  250ms var(--timing); 
}
.sociality__icon {
  fill: var(--icon-color);
  
}
.sociality__link:hover,
.sociality__link:focus {
  background-color: var(--accent-color);     
}
.sociality__link:hover .sociality__icon,
.sociality__link:focus .sociality__icon {
  fill: var(--primary-bg-color);
 
}
.sociality__network:not(:last-child) {
margin-right: 10px;
}
/*оформление секции клиентов*/
.title-client{
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.clients {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);
  border: 1px solid var(--border--color--clients);
  border-radius: 4px;
  transition: border 250ms var(--timing),
  fill 250ms var(--timing);
}
.clients__link:hover {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
  
}
.clients__images:not(:last-child) {
  margin-right: 30px;
}
/*footer*/
footer {
  background-color: var(--primary-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.container.footer {
  display: flex;
}
.enjoy {
  margin-left: 70px; 
}

.header-page__logo--indent {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-bottom: 20px;
  margin-top: 0;
}
.address {
  font-style: normal;
}
.contacts__map {
  margin-bottom: 9px;
}
.contacts__link {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  color: #fff;
  /*color: var(--primary-bg-color);*/
}
.footer a:hover,
.footer a:focus {
  color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__post {
  margin-bottom: 9px;
}
.contacts__mail {
  margin-top: 9px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--adress-color);
}
.contacts__telefon {
  font-size: 14px;
  line-height: 1.71;
  color: var(--adress-color);
}
.enjoy__title {
  margin-top: 12px;
  margin-bottom: 20px;
  color: var(--primary-bg-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  
}
/*Оформление соц сетей footer*/
.footer__enjoy__icon:not(:last-child) {
margin-right: 10px;
}
.footer__enjoy__icon { 
  height: 44px;
}
.footer__enjoy__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition:  250ms var(--timing);
}
.footer__enjoy__link:hover,
.footer__enjoy__link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-bg-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__enjoy_svg {
  fill: var(--primary-bg-color);
}
/*Кнопка Формы Подписки футер */
.subscribe {
  margin-left: auto;
}
.subscribe__form {
  display: flex;
  justify-content: center;
}
.subscribe__input {
  background: transparent;
  padding: 15px  16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__button {
  border-radius: 4px;
  max-width: 200px;
  width: 200px;
  padding: 10px 28px;
  border: 1px transparent;
   font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.88;
  letter-spacing: 0.06em; 
  background-color: var(--accent-color);
  color: #fff;
}
.subscribe__button:hover {
  background-color: #2196f3;
  cursor: pointer;
}
.subscribe__button__element {
  display: flex;
}
.subscribe__button__icon {
  fill: #fff;
  margin-left: 10px; 
}
/*portfolio*/

/*оформление кнопок портфолио*/
.portfolio-button {
  padding-top: 0;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-item__filter {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--primary-button-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  transition:  250ms var(--timing);
}
.portfolio-item__filter:hover,
.portfolio-item__filter:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
}

.portfolio {
  overflow: hidden;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px; 
}
/*Оформление выезжающего окна */
.thumb {
  position: relative;
  overflow: hidden;
}
.portfolio:hover .overlay{
  transform: translateY(-100%);
  opacity: 1;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 294px;
  padding: 63px 24px;
  opacity: 0;  
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(0%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.paragrah {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
}
.portfolio:nth-child(3n) {
  margin-right: 0;
}
.portfolio:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio .title {
  color: var(--title-text-color);
}
.portfolio:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
     0px 4px 4px rgba(0, 0, 0, 0.06),
     1px 4px 6px rgba(0, 0, 0, 0.16);    
}
.characteristic {
  border: 1px solid var(--border--color-portfolio);
  padding: 20px 24px;
  background-color: var(--primary-bg-color);
}
.title-list {
  margin-bottom: 0;
  margin-top: 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.different {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.14;
}
.tyu {
  display: flex;
  flex-direction: column;
}
