/*преймущества компании*/
@media screen and (max-width:786px) {
.benefits {
    display: block;
}
}
@media screen and (min-width: 768px)  {
.benefits{
     display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;   
}        
}
.benefits__item {
    @media screen and (max-width:767px) {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    @media screen and (min-width:768px) {   
        width: calc((100% - 60px)/2);
            margin: 15px;
    }
    @media screen and (min-width:1200px) {
        width: calc((100% - 8 * 15px) / 4);
        margin: 15px;
        }
    
    
}
/*
.benefits .benefits__item:not(:last-child) {
    margin-right: 30px;

    @media screen and (min-width:786px) {
            margin-bottom: 30px;
        }
    }
*/
.benefits .benefits__item::before {
    display: block;
    height: 120px;
    content: "";
    background-color: #f5f4fa;
    background-repeat: no-repeat;
    background-position: center;
}
.benefits .benefits__title {
    color: #212121;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03;
    text-transform: uppercase;
    text-align: center;
    @media screen  and (min-width:787px){
        text-align: start;
        
    }
}
.benefits .benefits__paragraph {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
    color: $primary-text-color;
    @media screen and (min-width:787px) {
            text-align: start;
    
        }
}
.benefits__item--attention::before {
    background-image: url(../images/antenna.svg);
}

.benefits__item--punctuality::before {
    background-image: url(../images/clock.svg);
}

.benefits__item--plan::before {
    background-image: url(../images/diagram.svg);
}

.benefits__item--technology::before {
    background-image: url(../images/astronaut.svg);
}