/*оформление feature*/
.activ {
    padding-bottom: 94px;
    padding-top: 0;
    display: none;
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}


.title-work {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.activity {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-left: -30px;
}

.activity .activity__item {
    width: calc((100% - 90px) / 3);
    margin-left: 30px;
}

.activity .activity:not(:last-child) {
    margin-bottom: 0;
}

.activity .activity__picture {
    position: relative;
    z-index: -1;
}

.activity .activity__center {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}

.activity .activity__text {
    margin-top: 27px;
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
}