/*Hero*/
.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    @media  (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (mon-resolution: 2dppx) {
            padding: 118px 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            height: 400px;
            min-width: 480px;
            margin-left: auto;
            margin-right: auto;
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero_desktop@2x.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
}


.hero__title {
    margin: 0 auto 30px;
    width: 696px;
    color: #fff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @media screen and (max-width:768px) {
        font-size: 26px;
        line-height: 1.62;
        text-align: center;
        width: 360px;
        height: 84px;
        margin: 0 auto 30px;
    }
}

.hero__pointer {
    border-radius: 4px;
    min-width: 200px;
    padding: 10px 32px;
    border: 1px transparent;
    font-weight: 700;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: #2196f3;
}

.hero__pointer:hover,
.hero__pointer:focus {
    cursor: pointer;
    background-color: #2196f3;
    color: #fff;
}

.hero__button-text {
    color: #fff;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: scroll;
    
   
}

.modal {
    position: fixed;
    padding: 40px;
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #fff;
    @media screen and (max-width:767px) {
        position: absolute; 
        top:50%;
        left: 50%;
        transform: translate(-50% -50%);
        max-width: 450px;
    }
    @media screen and (min-width:768px) and (max-width:1199px) {
        width: 450px;
        
    }
}

.modal .modal__button {
    position: fixed;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.modal .modal__svg {
    display: block;
    position: absolute;
    margin: auto;
    top: 2px;
    bottom: 0;
    right: 1px;
    left: 1px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .modal__svg:hover {
    cursor: pointer;
    fill: #2196f3;
}
