    $primary-text-color: #757575;
    $title-text-color: #212121;
    $accent-color: #2196f3;
    $primary-bg-color: #fff;
    $primary-button-color: #f5f4fa;
    $primary-footer-color: #2f303a;
    $adress-color: rgba(255, 255, 255, 0.6);
    $border-color-header: #ececec;
    $border--color-portfolio: #eeeeee;
    $border--color--clients: #afb1b8;
    $icon-color: #afb1b8;
    $font-familRobotoy-: Roboto,sans-serif;
    $font-family-Raleway: Raleway,sans-serif;
    $timinng: cubic-bezier(0.4, 0, 0.2, 1);
    